.banner {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-bg.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* features */
.features-icons {
  margin-bottom: 30px;

  height: 120px;
  border-radius: 4px;
  background-color: var(--icon-bg-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .features .icon {
  /* width: 70px;
  height: 70px; } */

/* team */
.member-pages {
  display: flex;
  justify-content: center;
}

.member-pages .page {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.member-pages .page:not(:last-child) {
  margin-right: 10px;
}

.member-pages .page:hover,
.member-pages .page:focus {
  background-color: var(--accent-color);
}

.member-pages .page-icon {
  color: var(--icon-fill-color);
}

.page-icon .icon {
  fill: currentColor;
}

.page-icon .icon:hover,
.page-icon .icon:focus {
  fill: var(--primery-bg-color);
}

/* в футере ссылки на соцсети можно сделать через bgr-image 
так как там меняется только фон при ховере а сам значок остается белым */
/* в кнопки иконки ссылки добавить атрибут aria-label="Редактировать" */
